<h2>Products</h2>
<div *ngFor="let product of products; index as productId">
  <!-- products from product-list.component.ts data products push in product111-->

  <h3 [title]="product.name + ' detials'" [routerLink]="['/products', productId]">
    name = {{ product.name }} 
  </h3>

  <p *ngIf="product.name">
    Description : {{product.description}}
  </p>
  <button (click)="share()">
    Share
  </button>
  <app-product-alert [product] = 'product' (notify) = 'onNotify()'>

  </app-product-alert>
</div>
